<table class="table table-striped table-bordered text-right">
  <thead>
    <tr>
      <th></th>
      <th class="text-center" ng-repeat="day in datesOfTheWeek">
        {{day | date:'MMM dd'}}
      </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="item in weekInfo">
        <td>{{item.name}}</td>
        
        <td ng-repeat="class in item.classArray" class="{{class.name}}">
        </td>
    </tr>

  </tbody>
</table>

<div>
  Legend :
  <span class="label label-danger">Started</span>
  <span class="label label-warning">In Progress</span>
  <span class="label label-success">Done</span>
</div>