<table class="table table-striped table-bordered text-right">
  <thead>
    <tr>
      <th></th>
      <th class="text-center" ng-repeat="day in datesOfTheWeek">
        {{day | date:'MMM dd'}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eat</td>
      <td></td>
      <td class="danger"></td>
      <td class="warning"></td>
      <td class="warning"></td>
      <td class="warning"></td>
      <td class="success"></td>
      <td></td>
    </tr>
    <tr>
      <td>Sleep</td>
      <td class="danger"></td>
      <td class="warning"></td>
      <td class="warning"></td>
      <td class="success"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Drink</td>
      <td></td>
      <td></td>
      <td class="danger"></td>
      <td class="warning"></td>
      <td class="success"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div>
  Legend :
  <span class="label label-danger">Started</span>
  <span class="label label-warning">In Progress</span>
  <span class="label label-success">Done</span>
</div>